{% load widget_tweaks %}
{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<p><a href="{% url 'logout' %}">logout</a></p>
<!-- form -->
{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Skills : 
          {% render_field filter.form.skills class="form-control" placeholder=form.skills.label %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Current Location : 
          {% render_field filter.form.current_location class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          CTC : 
          {% render_field filter.form.ctc class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Preferred Location : 
          {% render_field filter.form.preferred_location class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Current Employer :
          {% render_field filter.form.current_employer class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Current Designation :
          {% render_field filter.form.current_designation class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Current Designation :
          {% render_field filter.form.current_designation class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Work Experience :
          {% render_field filter.form.work_exp class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          UG Course :
          {% render_field filter.form.UG_Course class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          PG Course :
          {% render_field filter.form.PG_Course class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          UG Passing Year :
          {% render_field filter.form.UG_Passing_Year class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          PG Passing Year :
          {% render_field filter.form.PG_Passing_Year class="form-control" %}
        </div>

      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

{% endblock %}
<!-- css -->
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<!-- table -->
<div id="dvData">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Work Exp</th>
          <th> Analytics Exp </th>
          <th>Skills</th>
          <th>Location</th>
          <th>CTC</th>
          <th>Preferred Location</th>
          <th>Employer</th>
          <th>Designation</th>
          <th>UG Course</th>
          <th>UG Institute</th>
          <th>UG passing year</th>
          <th>PG Course</th>
          <th>PG Institute</th>
          <th>PG passing year</th>
          <th>PostPG Course</th>
        </tr>
      </thead>
      <tbody>
        {% for user in filter.qs %}
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.email}}</td>
            <td>{{user.work_exp}}</td>
            <td>{{user.analytics_in_exp}}</td>
            <td>{{user.skills}}</td>
            <td>{{user.current_location}}</td>
            <td>{{user.ctc}}</td>
            <td>{{user.preferred_location}}</td>
            <td>{{user.current_employer}}</td>
            <td>{{user.current_designation}}</td>
            <td>{{user.UG_Course}}</td>
            <td>{{user.UG_Intitute_Name}}</td>
            <td>{{user.UG_Passing_Year}}</td>
            <td>{{user.PG_Course}}</td>
            <td>{{user.PG_Intitute_Name}}</td>
            <td>{{user.PG_Passing_Year}}</td>
            <td>{{user.Post_PG_Course}}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<a href="#" class="export">Export Table data into CSV</a>

<!-- JS -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{% static "js/csv.js" %}"></script>
